.form-button{
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 10px;
}

.alert{
    display: none;
}

.alert_visible{
    display: block;
}